@import "@govtechmy/myds-style/color.css";

/* Import Light theme */
@import "@govtechmy/myds-style/light.css";

/* Import Dark theme */
@import "@govtechmy/myds-style/dark.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  --_govtech-600: 239 78 35;
  --_govtech-700: 167 44 11;
}

:root {
  --txt-govtech-600: var(--_govtech-600);
}

.dark {
  --txt-govtech-600: var(--_govtech-600);
}
