@import "@govtechmy/myds-style/color.css";

/* Import Light theme */
@import "@govtechmy/myds-style/light.css";

/* Import Dark theme */
@import "@govtechmy/myds-style/dark.css";

@import "@/styles/articles.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    box-sizing: border-box;
  }

  * {
    --_govtech-600: 247 243 255;
    --_govtech-700: 79 55 138;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  :root {
    --txt-govtech-600: var(--_govtech-600);
  }

  .dark {
    --txt-govtech-600: var(--_govtech-600);
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
